<div id="<%= dom_id status %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= status.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= status.slug %>
  </div>
</div>
