<% content_for :title, "Subjects" %>
<% unless user_signed_in? && current_user.person&.type == 'Student' %>
  <%= render "shared/admin_tabs" %>
<% end %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Subjects</h1>
    <%= link_to "New subject", new_subject_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <%= render "subjects/index", resources: @subjects %>
</div>
